<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssteffanus.feelingsdiary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="CalendarActivity" >
        </activity>
        <activity
            android:name=".FeelingEntryActivity"
            android:label="@string/title_activity_feeling_entry" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Summary"
            android:label="SummaryActivity" >
        </activity>
        <activity
            android:name=".TextEntryActivity"
            android:label="@string/title_activity_text_entry"
            android:parentActivityName=".FeelingEntryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ssteffanus.feelingsdiary.FeelingEntryActivity" />
        </activity>
        <activity android:name=".LoginActivity" android:label="LoginActivity"
            android:noHistory="true" android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity" android:noHistory="true" android:excludeFromRecents="true">
        </activity>
    </application>

</manifest>
